server.port: 9090

spring:
  profiles:
    active: dev
  app:
    name: NotesApp
    version: 1.0.0
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
    open-in-view: false
  datasource:
    url: jdbc:postgresql://87.106.129.154:5432/notesapp
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.nikolahadzic.net/realms/NotesApp

springdoc:
  swagger-ui:
    path: /

#logging:
#  level:
#    org.springframework.security: DEBUG
#    org.springframework.web: DEBUG
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
