server.port: 9090

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  profiles:
    active: dev
  app:
    name: NotesApp
    version: 1.0.0
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5432/notesapp
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/NotesApp

keycloak:
  token-uri: http://localhost:8080/realms/NotesApp/protocol/openid-connect/token

springdoc:
  swagger-ui:
    path: /

#logging:
#  level:
#    org.springframework.security: DEBUG
#    org.springframework.web: DEBUG
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
